* {
   box-sizing: border-box;
}
html {
   font-family: 'Montserrat', sans-serif;
}
.page {
   background-color: #141b1c;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.price-tables {
   display: flex;
   
}
.price-card {
   width: 380px;
   background: #334247;
   text-align: center;
   box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
   margin-right: 18px;
   color: #FFFFFF;
   
   &__price-ribbon {
      background: #DC3F45;
      transform: rotate(-45deg);
      
      &-text {
         font-weight: bold;
         font-size: 14px;
         line-height: 17px;
         text-align: center;
      }
   }
   &__title {
      font-size: 35px;
      line-height: 43px;
      font-weight: 700;
   }
   &__subtitle {
      margin-top: 0;
      font-size: 20px;
      line-height: 24px;
      font-weight: 300px;
   }
   &__price {
      background: #5BB189;
      font-weight: 700;
      font-size: 55px;
      line-height: 67px;
      color: #FFFFFF;
   }
   &__business-price {
      background: #3A6BA5;
   }
   &__webshop-price {
      background: #EC632A;
   }
   &__description {
      font-weight: 300;
      font-size: 15px;
      line-height: 18px;
      margin-top: 40px;
   }
   &__options-list {
      list-style-type: none;
      text-align: left;
      padding: 0;
      margin: 0;
      margin-top: 40px;
      
      line-height: 18px;
      &-item {
         font-weight: 300;
         font-size: 15px;
         padding-top: 16px;
         padding-bottom: 16px;   
         &::before {
            content: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png);
            padding-left: 22px;
            padding-right: 19px;
         }
         &:nth-child(odd) {
            background: #2A3438;
            opacity: 0.5; 
         }
      }
      &-item-business {
         &::before {
         content: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png);
         }
      }
      &-item-webshop {
         &::before {
         content: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png);
         }
      }
   }

   &__order-btn {
      background: #5BB189;
      border-radius: 20px;
      border: none;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;
      width: 155px;
      height: 40px;
      margin-top: 55px;
      margin-bottom: 40px;
   }
   &__business-order-btn {
      background: #3A6BA5;
   }
   &__webshop-order-btn {
      background: #EC632A;
   }
}
